.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
node_modules/**
test/**
.git/**
.github/**
CHANGELOG.md
package-lock.json
**/jsconfig.json
**/eslint.config.mjs
**/.vscode-test.*
